@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@tailwind base;

@layer base {
    html {
        @apply text-[#4f4f4f];
    }
    html.dark {
        @apply text-neutral-50;
        @apply bg-neutral-800;
    }
}

@layer components {
    .range::-webkit-slider-thumb {
        width: 2.5rem;
        height: 2.5rem;
        margin-top: -0.5rem;
        appearance: none;
        background-color: #4d505438;
        border: 4px solid #42506425;
        border-radius: 9999px;
        transition: all 150ms ease-in-out;
    }

    .range::-moz-range-thumb {
        width: 2.5rem;
        height: 2.5rem;
        appearance: none;
        background-color: #4d505438;
        border: 4px solid #42506425;
        border-radius: 9999px;
        transition: all 150ms ease-in-out;
    }

    .range::-webkit-slider-runnable-track {
        width: 100%;
        height: 0.5rem;
        background-color: #42506425;
        border-radius: 9999px;
    }

    .range::-moz-range-track {
        width: 100%;
        height: 0.5rem;
        background-color: #42506425;
        border-radius: 9999px;
    }
}

@tailwind components;
@tailwind utilities;
